INSERT INTO `cempaka_spot` (`foto`, `judul`, `deskripsi` , `admin_id`) VALUES
('726-IMG_20211012_101354.jpg', 'Tuk Putri', '<p>Tuk Mudal yang dipakai sebagai tempat pesucen warga dimana saat itu penduduk semakin banyak maka pihak perempuan merasa risih dengan pihak pria hingga akhirnya dibuat pesucen khusus bagi kaum perempuan sehingga dibuatkanlah Tuk Putri.</p>\r\n', 2 );
INSERT INTO `cempaka_spot` (`foto`, `judul`, `deskripsi` , `admin_id`) VALUES
('605-IMG_20211012_101354.jpg', 'Tuk Mudal', '<p>Tuk Mudal merupakan sebuah wisata kolam renang alami. Tuk disini memiliki arti mata air. Karena airnya yang berasal dari mata air alami, air di kolam ini sangat jernih dan segar. Ditambah lagi pemandangan di sekitarnya yang dipenuhi pepohonan rindang dan area persawahan yang memanjakan mata pengunjung. Selain menawarkan keindahan alam dan kejernihan mata airnya, ternyata Tuk Mudal juga menyimpan ejarah yang cukup panjang di masa lalu.</p>\r\n\r\n<p>Konon, Tuk Mudal dibangun oleh utusan kerajaan Mataram untuk membuat sebuah desa diawali dengan penataan irigasi pertanian dan tempat pesucen warga baik berwudhu. Tuk Mudal dikelilingi oleh tujuh mata air dan saat ini digunakan untuk mengairi 130 hektar persawahan di Desa Cempaka. Hingga saat ini juga masyarakat setempat masih bergotong royong untuk menjaga sumber mata air ini dengan membangun tembok melingkar di areal mata air agar tidak mengalami pendangkalan.</p>\r\n', 2 );
INSERT INTO `cempaka_spot` (`foto`, `judul`, `deskripsi` , `admin_id`) VALUES
('102-11.jpg', 'Pohon Besar', '<p>Pohon besar yang ada di Tuk Mudal diyakini sebagai paku bumi desa dimana pohon tersebut sudah berusia 500 tahun.</p>\r\n', 2 );

INSERT INTO `cempaka_spot` (`foto`, `judul`, `deskripsi` , `admin_id`) VALUES
('443-IMG_20211012_101607.jpg', 'Pasar Slumpring', '<p>Pasar Slumpring adalah pasar tradisional yang terletak dibawah rimbunan pohon bambu yang menyediakan jajanan tradisional jaman dulu dan kebudayaan yang ada di desa cempaka,kecamatan bumijawa kabupaten tegal,jawa tengah</p>\r\n', 2 );

INSERT INTO `cempaka_spot` (`foto`, `judul`, `deskripsi` , `admin_id`) VALUES
('991-14.jpg', 'Mata Air', '<p>Tujuh tempat pesucen atau mata air, yang bermuara di samping lapangan Desa Cempaka dibuat karena penduduk yang semakin bertambah. Pertemuan Tujuh mata air sampai sekarang masih sering didatangi orang dari daerah Cirebon dan Jawa Barat untuk mandi di malam jum&#39;at kliwon jam 12 tengah malam agar awet muda.</p>\r\n', 2 );

INSERT INTO `cempaka_spot` (`foto`, `judul`, `deskripsi` , `admin_id`) VALUES
('355-8.jpg', 'Pemakaman', '<p>Pemakaman di&nbsp;Desa Cempaka merupakan pemakaman yang disini terdapat makam para bangsawan dan tokoh masyarakat yang ditunjukkan dengan adanya beberapa pohon besar di makam.</p>\r\n', 2 );

INSERT INTO `cempaka_spot` (`foto`, `judul`, `deskripsi` , `admin_id`) VALUES
('76-IMG20211002142401.jpg', 'Batu Lumpang', '<p>Batu Lumpang merupakan peninggalan pada zaman kerajaan Mataram dimana pada saat itu ada seorang tabib yang terkenal yang mana beliau selalu mencuci lumpang atau alat pembuatan obat di mataa air Tuk Putri. Situs Batu Lumpang sampai sekarang diyakini oleh masyarakat sebagai barang yang bertuah.</p>\r\n', 2 );

INSERT INTO `cempaka_spot` (`foto`, `judul`, `deskripsi` , `admin_id`) VALUES
('564-2.jpg', 'Koin Tukar', '<p>Di pasar slumpring, untuk membeli makanan disitu harus menggunakan koin khusus yang dapat dibeli dengan uang rupiah dimana 1 koin setara dengan harga Rp.2.500,00</p>\r\n', 2 );

INSERT INTO `cempaka_spot` (`foto`, `judul`, `deskripsi` , `admin_id`) VALUES
( 'gazebo1.jpg', 'Gazebo ', 'tempat untuk istirahat, makan makanan dari pasar wisata sawah batu', 2 );

INSERT INTO `cempaka_spot` (`foto`, `judul`, `deskripsi` , `admin_id`) VALUES
( 'gazebo1.jpg', 'Gazebo ', 'tempat untuk istirahat, makan makanan dari pasar wisata sawah batu', 2 );

{% extends 'include/base.html' %} 
{% block content %}
<div class="page-titles">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-12 align-self-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 d-flex align-items-center">
                    <li class="breadcrumb-item">
                        <a href="/" class="link"><i class="ri-home-3-line fs-5"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">homepage</li>
                </ol>
            </nav>
            <h1 class="mb-0 fw-bold">Berita terkini</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            {% for i in info_list :%}
            <div class="card">
                <a href="/berita/{{i.link}}">
                    <div class="card-body">
                        <div class="d-flex no-block white-space align-items-center ">
                            <img class="card-img img-responsive " src="../../static/image/{{i.gambar}}"
                                alt="Card image cap" style="width: 300px; height: 200px;" />
                            <div style="width: 20px;"></div>
                            <div class="align-items-center " style="height: 100%;">

                                <h3 class="font-weight-medium">{{i.judul}}</h3>
                                
                                <span class="d-flex "><i data-feather="calendar"
                                    class="feather-sm me-1"></i>{{i.tanggal}}</span>
                                <p class="mb-0 mt-2 text-muted">{{i.deskripsi|safe}}</p>
                            </div>
                        </div>

                        <!---->
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
        <div class="col-lg-4 mt-4 mt-md-0">
            <div class="card">
                <div class="card-body">
                    <center>
                        <img src="../static/image/logo.png" style="width: 150px; height: 100px;"
                            alt="logo admin"><br><br>
                    </center>
                    <h4>Sistem Informasi desa pangkah</h4>
                    <p><strong>Desa pangkah</strong> berada di kecamatan Pangkah Kab. Tegal, dengan sebagian
                        besar penduduknya sebagai Perindustrian/jasa menjadikan desa pangkah memiliki potensi
                        wisata .</p><br>
                    <p>Dengan luas wilayah 62.98 m<sup>2</sup> ini populasinya dianggap cukup karena dari total
                        penduduk sebesar 2950, terbagi para laki-laki di pangkah sebanyak 1474 orang dan 1476
                        sisanya wanita.</p><br>
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="text-uppercase">Kontak Bantuan</h4>
                    <hr>
                    <h4 class="d-flex align-item-center">
                        <i class="ri-smartphone-line"></i> 081227589209
                    </h4>
                    <small>Please contact with us if you have any questions. We are
                        avalible 24h.</small>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}